$fontSize: 14px;
$fontFamily: Verdana, Geneva, Tahoma, sans-serif;

$darkPrimary: #388E3C;
$lightPrimary: #C8E6C9;
$primary: #4CAF50;
$white: #FFFFFF;
$appPrimary: #212121;
$secondText: #757575;
$accentColor: #CDDC39;

$assets: '/assets';
$arrowDown: url('#{$assets}/icons/arrow_down.svg');