.input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid;
    border-color: #CDDC39;
    outline: 0;
}
.invalid {
    border-color: #E91E63;
}